html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #f1c857;
}

body {
    font: 100% Roboto, Arial, sans-serif;
}

.title_bar {
    position: fixed;
    width: 100vw;
    height: 110px;
    background-color: #252525;
    color: #bbbbbb;
    font-size: xxx-large;
    font-weight: bold;
}

.footer_bar {
    position: fixed;
    width: 100vw;
    bottom: 0;
    height: 60px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #252525;
    color: #bbbbbb;
    font-size: x-large;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type=text]{
    padding: 7px 10px;
    margin: 5px 2px;
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 6px;
}

.std_btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 10px;
    margin: 5px 2px;
}

.std_select {
    text-decoration: none;
    padding: 7px 10px;
    margin: 5px 2px;
}

.own_card_hand {
    margin-top: 50px;
    text-align: center;
}

.card {
    background-color: #f4efff;
    color: black;
    border: 2px solid #0f0f0f;
    border-radius: 4px;
    font-size: 30px;
    padding: 30px 20px;
    min-height: 120px;
    min-width: 80px;
}

.t_card {
    background-color: #bbbbbb;
    color: black;
    border: 2px solid #0f0f0f;
    border-radius: 4px;
    font-size: 20px;
    padding: 24px 16px;
    min-height: 90px;
    min-width: 60px;
}

.t_cell_card {
    width: 150px;
    text-align: center;
}

.t_name {
    color: #131313;
    font-size: 22pt;
    font-weight: bold;
}

.t_points {
    color: #131313;
    font-size: 18pt;
    font-weight: bold;
}

.t_vorbehalt {
    color: #131313;
    font-size: 12pt;
}

.t_cell_name {
    width: 100px;
    text-align: center;
}

.t {
    margin-left: auto;
    margin-right: auto;
}